<nav class="navbar">
    <div class="container">
        <div class="nav-container">
            <ul class="nav-links">
                <li class="nav-item"><a href="index">Home</a></li>
                <li class="nav-item dropdown">
                    <a>Committee <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a href="organizing-committee">Organizing Committee</a></li>
                        <li class="nav-item"><a href="program-committee">Program Committee</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="call-for-paper">Call for papers</a></li>
                <!-- <li class="nav-item dropdown">
                    <a>Program <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a href="keynotes">Keynotes</a></li>
                        <li class="nav-item"><a href="workshops">Workshops</a></li>
                        <li class="nav-item"><a href="tutorials">Tutorials</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a>Attending <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a href="venues">Venues</a></li>
                        <li class="nav-item"><a href="accomodation">Accommodation</a></li>
                        <li class="nav-item"><a href="visa">Visa</a></li>
                    </ul>
                </li>  -->
                <li class="nav-item dropdown">
                    <a>Past PKAW <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a href="https://pkawwebsite.github.io/2025/" target="_blank">PKAW 2025</a>
                        </li>
                        <li class="nav-item"><a href="https://pkawwebsite.github.io/2024/" target="_blank">PKAW 2024</a>
                        </li>
                        <li class="nav-item"><a href="https://pkawwebsite.github.io/2023/" target="_blank">PKAW 2023</a>
                        </li>
                        <li class="nav-item"><a href="https://pkawwebsite.github.io/2022/" target="_blank">PKAW 2022</a>
                        </li>
                        <li class="nav-item"><a href="http://www.pkaw.org/pkaw2020/" target="_blank">PKAW 2021</a></li>
                        <li class="nav-item"><a href="http://pkaw.org/pkaw2019/" target="_blank">PKAW 2019</a></li>
                        <li class="nav-item"><a href="http://pkaw.org/pkaw2018/" target="_blank">PKAW 2018</a></li>
                        <li class="nav-item"><a href="http://pkaw.org/pkaw2016/" target="_blank">PKAW 2016</a></li>
                        <li class="nav-item"><a href="http://pkaw.org/pkaw2014/" target="_blank">PKAW 2014</a></li>
                        <li class="nav-item"><a href="http://pkaw.org/pkaw2012/" target="_blank">PKAW 2012</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a href="#">Registration</a>
                </li> -->
            </ul>
            <div class="nav-button">
                <div class="hamburger">
                    <span id="bar1" class="bar"></span>
                    <span id="bar2" class="bar"></span>
                    <span id="bar3" class="bar"></span>
                </div>

            </div>
        </div>
    </div>

</nav>