/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../font/Montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(../font/opensans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --primary-color: #545454;
    --primary-color-opacity: rgba(128, 138, 248, 0.8);
    --second-color: #eaf4f4;
    --second-color-opacity: rgba(255, 255, 244, 0.2);
    --section-color: #215e60;
    --third-color: #2A577C;
    --link-color: #f36b31;
    --link-color-hover: #5098f0;
    --font-size-base: 16px;
    --font-scale-ratio: 1.2;
    --footer-color: #ececee;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
}

.link {
    color: var(--link-color);
    text-decoration: none;
    transition: all 1s;
    position: relative;
}

.link:hover {
    color: var(--link-color-hover);
    text-decoration: none;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: var(--link-color-hover);
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.link:hover::after {
    width: 100%;
}

body {
    margin: 0;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: white;
    color: var(--primary-color);
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}


#loading-page {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.flip-square {
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    animation: flip 2s linear infinite;
    transform-style: preserve-3d;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

main,
#banner,
#header,
footer {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

main {
    height: 100%;
    min-height: calc(100vh - 500px - 80px);
}

section {
    opacity: 0;
    transform: translateY(50px);
    transform: scale(0.9);
    transition:
        opacity 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section.visible {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


.bg-color {
    background-color: var(--second-color)
}

.bg-color-light {
    background-color: white;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: top 3s, opacity 0.5s ease-in;
}

.nav-container {
    display: flex;
    justify-content: center;
    height: 75px;
    padding: 0 10px;
}

.nav-brand img {
    height: 65px;
    margin: 5px 5px;
}

.nav-links {
    position: absolute;
    list-style-type: none;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

.nav-item {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    list-style-type: none;
}

.dropdown .nav-item:hover {
    background-color: var(--second-color);
}

.nav-item a {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links.active {
    max-height: 800px;
    opacity: 1;
}

.dropdown {
    cursor: pointer;
}

.dropdown-menu {
    width: 100%;
    max-height: 0;
    margin: 0;
    /* margin-top: 10px; */
    padding: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* width: max-content; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: max-height 0.5s ease, opacity 0.5s ease;
}


.dropdown.active .dropdown-menu {
    max-height: 500px;
    opacity: 1;
}

.navbar:hover li {
    display: block;
}

.nav-button {
    display: flex;
    width: 75px;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.nav-button.active #bar1 {
    transform: translateY(8px) rotate(45deg);
}

.nav-button.active #bar2 {
    opacity: 0;
}

.nav-button.active #bar3 {
    transform: translateY(-8px) rotate(-45deg);
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-top: 8px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#main-page {
    width: 100%;
}

#banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

#banner-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#banner-title {
    position: absolute;
    width: 90%;
    height: 30%;
    max-width: 1024px;
    top: 40%;
    left: 50%;
    /* padding: 20px; */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--second-color-opacity);
    opacity: 0;
    transition: opacity 1s ease;
}

#banner-title div {
    /* width: max-content; */
    max-width: 100%;
    /* border: 1px solid black; */
    /* text-align: justify; */
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    /* margin-top: -20px; */
}

.banner-title-left span {
    display: block;
    color: var(--primary-color);
    /* border: 1px solid black; */
    flex-grow: 1;
    flex-basis: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    /* margin: -0.5rem; */
    /* text-transform: uppercase; */
    text-align: center;
}

.banner-title-line-1 {
    font-weight: 400;
}

.banner-title-line-2 {
    font-weight: 450;
}

.banner-title-line-3 {
    font-weight: 600;
}

.banner-title-line-4 {
    font-weight: 750;
}

.banner-title-left {
    opacity: 0;
    left: -50px;
    transition: all 1s ease;
}

.banner-title-right span {
    display: block;
    /* border: 1px solid black; */
    text-align: center;
    color: var(--third-color);
    /* flex-grow: 1; */
    flex-basis: 100%;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 2rem; */
    /* margin: -0.5rem; */
}

.banner-title-line-name {
    position: relative;
    font-size: 1.8rem;
    font-weight: 800;
    margin: -0.5rem;
    opacity: 0;
    right: -50px;
    transition: all 1s ease;
}

.banner-title-line-loc,
.banner-title-line-date {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    margin: -0.5rem;
    opacity: 0;
    bottom: -50px;
    transition: all 1s ease;
    
}

section {
    padding: 30px;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.title-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--section-color);
    /* margin-bottom: 30px; */
}

.title-container .line {
    flex: 1;
    height: 5px;
    background-color: var(--section-color);
    min-height: 2px;
    display: none;
}

.main-title {
    flex-shrink: 1;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 35px !important;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.welcome-text {
    flex-basis: 70%;
}

.welcome-flyer {
    flex-basis: 30%;
}

.flyer {
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}

.flyer img {
    max-width: 300px;
    transition: transform .5s;
}

.flyer img:hover {
    transform: scale(1.05);
}

.news-list {
    list-style-type: none;
}

.news-date {
    font-weight: 700;
    ;
}

.news-date::before {
    content: "[";
    margin-bottom: 15px;
}

.news-date::after {
    content: "]";
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.date-item {
    color: var(--primary-color);
    text-align: center;
}

.date-text {
    text-transform: uppercase;
    text-align: center;
}

.date-text h4 {
    margin: 0;
}

.date-text em {
    /* font-size: 0.95rem; */
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    column-gap: 10px;
}

.logo-container img {
    width: 100%;
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    display: block;
    margin: 10px;
    background-color: transparent;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    animation-duration: 2s;
    animation-delay: 0.5s;
    opacity: 0;
    object-fit: scale-down;
    transition: transform .5s;
}

.logo-container img:hover {
    transform: scale(1.1);
}

footer {
    color: var(--footer-color);
    font-size: 14px;
    letter-spacing: 1px;
    background: #000000;
    padding: 20px 0;
    height: 80px;
    position: relative;
}

footer div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    position: relative;
    width: 100%;
    height: 500px;
    animation-duration: 2s;
    animation-delay: 1s;
}

#header-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* padding: 10px 30px 10px 30px; */
    background-color: var(--second-color-opacity);
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    animation-duration: 1s;
    animation-delay: 2s;
}

#header-title h1 {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--second-color);
}

.img-div,
#header-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.img-div img {
    width: 100%;
    height: auto;
}

.venue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.venue div {
    flex: 1;
}

.venue .venue-flex-large {
    flex: 2;
}

.venue .venue-flex-small {
    flex: 1;
}

#header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 35px !important;
    margin: 25px 0 25px 0;
    text-transform: uppercase;
}

.section-title.border-bottom:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--primary-color);
    margin-top: 5px;
}

.chair-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.committee-chair {
    padding: 15px;
}

.img-frame {
    width: 100%;
    margin-bottom: 15px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.img-frame img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    /* image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; */
    transition: all 0.5s;
}

.text-frame {
    width: 100%;
    height: 100px;
}

.text-frame h4 {
    width: 100%;
    font-weight: 500;
}

.text-frame hr {
    width: 90%;
    margin: 5px auto;
}

.text-frame em {
    font-size: 16px;
    padding: 0 10px;
    text-wrap: auto;
}

#go-top-btn {
    position: fixed;
    bottom: 120px;
    width: 50px;
    height: 50px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
    font-size: 30px;
    font-weight: 400;
    opacity: 0;
    /* border: 2px solid var(--primary-color); */
}

#go-top-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topics {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    display: block;
    width: 300px;
    padding: 0;
    border: 1px solid var(--primary-color);
    font-size: 1em;
}

button a {
    display: block;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--second-color);
    transition: all 0.3s ease;
}


button a:hover {
    color: var(--primary-color);
    background-color: var(--second-color);
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    body {
        font-size: 18px;
    }

    .date-container {
        flex-direction: row;
    }

    .date-container .date-item {
        flex: 0 0 30%;
    }


    .title-container .line {
        display: block;
    }

    .logo-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .chair-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #go-top-btn {
        right: 50px;
    }
    
    .venue {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }

    body {
        font-size: 19px;
    }

    .welcome-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #header-title {
        text-align: left;
    }

    .banner-title-left span {
        font-size: 2.8rem;
    }

    .banner-title-line-name {
        font-size: 2.5rem;
    }

    .banner-title-line-loc,
    .banner-title-line-date {
        font-size: 2rem;
    }

    .chair-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .button-div {
        flex-direction: row;
        gap: 30px;
    }

    /* .chair-container {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: auto;
        padding-bottom: 15px;
    }

    .committee-chair {
        flex: 0 0 30%;
        max-width: none;
        margin-bottom: 20px;
    } */
}

@media screen and (min-width: 1080px) {
    .container {
        max-width: 1000px;
    }

    body {
        font-size: 20px;
    }

    .banner-title-left span {
        font-size: 2.8rem;
    }

    /* .banner-title-right span {
        text-align: left;
    } */

    .banner-title-line-name {
        font-size: 2.5rem;
        /* margin: -1.5rem -0.5rem; */
    }

    .banner-title-line-loc,
    .banner-title-line-date {
        font-size: 2rem;
    }

    .topics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    body {
        font-size: 21px;
    }

    .logo-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .date-container .date-item {
        flex: 1;
    }

    .nav-button {
        display: none;
    }

    .nav-links {
        position: static;
        max-height: none;
        opacity: 1;
        background-color: transparent;
        flex-direction: row;
        height: 75px;
        width: auto;
        display: flex;
        list-style: none;
        margin: 0;
        justify-content: end;
        gap: 2.5rem;
        box-shadow: none;
        overflow: visible;
    }


    .nav-item {
        height: 100%;
        width: max-content;
        padding: 0 10px;
        margin: 0;
    }

    .nav-item a {
        height: 75px;
        text-decoration: none;
        color: var(--primary-color);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .dropdown {
        position: relative;
        margin: 0;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 2px;
        list-style: none;
        width: max-content;
        min-width: 150px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    .dropdown-menu .nav-item {
        width: 100%;
        padding: 0 10px;
    }

    .dropdown-menu .nav-item a {
        height: 40px;
        color: var(--primary-color);
        font-weight: 400;
        justify-content: start;
    }

    .dropdown:hover .dropdown-menu {
        max-height: 500px;
        opacity: 1;
    }

}